/* Add CSS styling here */

html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    /* border: 0; */
}


/* remember to define focus styles! */

:focus {
    outline: 0;
}

body {
    background: white;
    line-height: 1;
    color: black;
}

ol,
ul {
    list-style: none;
}


/* tables still need cellspacing="0" in the markup */

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}


/* remove possible quote marks (") from <q> & <blockquote> */

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

* {
    border: 1px solid black;
    max-width: 100%;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding: 20px;
}

nav {
    display: flex;
    /* width: 20%; */
    justify-content: center;
    border: 2px solid black;
}

.first,
.second,
.third,
.fourth {
    text-decoration: none;
    padding: 5px;
}

.projInfo h2 {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.mySite p {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.bcgImage img {
    /* background-repeat: norepeat; */
    box-sizing: border-box;
    background-position: center;
    background-size: 100%;
    border: 1px solid red;
    width: 100%;
    height: 50vh;
}

.projects {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.projPics {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    max-width: 90%;
}

.firstImage,
.secondImage,
.thirdImage,
.fourthImage {
    width: 20%;
    padding: 5px;
}

.projInfo2 {
    display: box;
    box-sizing: border-box;
    width: 10%;
    font-size: 15px;
    padding: 200px 0px;
    margin: 0 25px;
}